* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 992px) {
    * {
        box-sizing: border-box;
    }
    
    h1 {
        margin: 0px;
    }
    
    #header {
        width: 100%;
        background-color: lightgray;
        padding: 20px;
        border: dashed black 2px;
    }
    
    #headertext {
        text-align: center;
    }
    
    #menucontainer {
        width: 100%;
        height: 900px;
        border: white dashed 5px;
        background-color: lightgray;
    }
    
    .menuitem {
        background-color: slategrey;
        float: left;
        border: solid black 1px;
        width: 30%;
        margin: 1.6%;
    }
    
    .menutext {
        clear: right;
        margin: 10px;
        
    }
    
    #chicken {
        width: 150px;
        text-align: center;
        float: right;
        border: black solid 1px;
        padding: 5px 10px;
        margin-bottom: 10px;
        background-color: salmon;
    }
    
    #beef {
        width: 150px;
        text-align: center;
        float: right;
        border: black solid 1px;
        padding: 5px 10px;
        margin-bottom: 10px;
        background-color: rgb(215, 50, 50);
        color: whitesmoke;
    }
    
    #sushi {
        width: 150px;
        text-align: center;
        float: right;
        border: black solid 1px;
        padding: 5px 10px;
        margin-bottom: 10px;
        background-color: goldenrod;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    * {
        box-sizing: border-box;
    }
    
    h1 {
        margin: 0px;
    }
    
    #header {
        width: 100%;
        background-color: lightgray;
        padding: 20px;
        border: dashed black 2px;
    }
    
    #headertext {
        text-align: center;
    }
    
    #menucontainer {
        width: 100%;
        height: 900px;
        border: white dashed 5px;
        background-color: lightgray;
        padding: 20px;
    }
    
    .menuitem {
        background-color: slategrey;
        border: solid black 1px;
        width: 45%;
        margin: 20px auto;
    }

    #first {
        margin-right: 2.5%;
        margin-left: 2.5%;
        float: left;
    }

    #second {
        margin-right: 2.5%;
        margin-left: 2.5%;
        float: right;
    }

    #last {
        clear: both;
        margin: auto;
    }
    
    .menutext {
        clear: right;
        margin: 10px;
        
    }
    
    #chicken {
        width: 150px;
        text-align: center;
        float: right;
        border: black solid 1px;
        padding: 5px 10px;
        margin-bottom: 10px;
        background-color: salmon;
    }
    
    #beef {
        width: 150px;
        text-align: center;
        float: right;
        border: black solid 1px;
        padding: 5px 10px;
        margin-bottom: 10px;
        background-color: rgb(215, 50, 50);
        color: whitesmoke;
    }
    
    #sushi {
        width: 150px;
        text-align: center;
        float: right;
        border: black solid 1px;
        padding: 5px 10px;
        margin-bottom: 10px;
        background-color: goldenrod;
    }
}

@media (max-width: 767px) {
    * {
        box-sizing: border-box;
    }
    
    h1 {
        margin: 0px;
    }
    
    #header {
        width: 100%;
        background-color: lightgray;
        padding: 20px;
        border: dashed black 2px;
    }
    
    #headertext {
        text-align: center;
    }
    
    #menucontainer {
        width: 100%;
        height: 900px;
        border: white dashed 5px;
        background-color: lightgray;
        padding: 20px;
    }
    
    .menuitem {
        background-color: slategrey;
        border: solid black 1px;
        width: 45%;
        margin: 20px auto;
    }

    #first {
        margin: 20px auto;
    }

    #second {
        margin: 20px auto;
    }

    #last {
        margin: 20px auto;
    }
    
    .menutext {
        clear: right;
        margin: 10px;
        
    }
    
    #chicken {
        width: 60%;
        text-align: center;
        float: right;
        border: black solid 1px;
        padding: 5px 10px;
        margin-bottom: 10px;
        background-color: salmon;
    }
    
    #beef {
        width: 60%;
        text-align: center;
        float: right;
        border: black solid 1px;
        padding: 5px 10px;
        margin-bottom: 10px;
        background-color: rgb(215, 50, 50);
        color: whitesmoke;
    }
    
    #sushi {
        width: 60%;
        text-align: center;
        float: right;
        border: black solid 1px;
        padding: 5px 10px;
        margin-bottom: 10px;
        background-color: goldenrod;
    }
}